header {
    padding:10px 0px;
    transition: all 300ms ease-in;
}

header .header_logo {
    flex-grow: 1;
}
header .header_logo_top {
    font-size: 40px;
}

header .header_logo_bottom {
    text-transform: uppercase;
    margin-left: 50px;
}

header .logo_desc {
    text-transform: capitalize;
}

header .link {
    width: 20%;
    margin-left: 20px;
}

.link .divider {
    margin-top: 15px;
    height: 0;
    border: 1px solid;
    margin-bottom: 10px;
}